build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
config.json
passwords.json
preferences.json
src/test/data/sandbox/
.DS_Store
./screenshot*.png
classes/
/bin/
src/main/resources/docs/
out/
data/
commands_log/*
src/test/data/XmlUtilTest/validConcierge.xml
src/test/data/XmlUtilTest/validGuest.xml
src/test/data/XmlUtilTest/validRoom.xml
src/test/data/XmlUtilTest/invalidGuest.xml
src/test/data/XmlUtilTest/invalidRoom.xml
src/test/data/XmlSerializableConciergeTest/typicalConcierge.xml
